{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "jsx": true,
    "useJSXTextNode": true
  },
  "rules":{
    "no-console": "off",
    "semi": 0,
    "no-else-return": ["error", { "allowElseIf": false }],
    "allowEmptyReject": true,
    "keyword-spacing": ["error", { "before": true }],
    "new-parens": "error",
    "no-multi-assign": "error",
    "space-before-blocks": "error",
    "react-hooks/rules-of-hooks": "error",
    "no-unused-vars": 0
  },
  "plugins": [
    "react",
    "react-hooks"
  ]
}
