.control {
  position: fixed;
  height: 50px;
  z-index: 9999;
  border-radius: 4px;
  overflow: hidden;
  animation: fade-in 0.5s ease 0s 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
